<!DOCKtype html>
<html>
<head>
<title>DAY-4 TASK-4</title>

<style>
#myHeader {
  background-color: lightblue;
  color: black;
  padding: 40px;
  text-align: center;
} 

table
{
background-color:yellow;
}

tbody tr:hover
{
background-color:brown;
}

</style>
</head>
<body>

<h1 id="myHeadER">My office workers details</h1>
<div style='background-color:#FFC0C7;'>
<p>These unique online courses use youth storytelling to bring social issues to life through day-to-day realities.Each course – designed in our Content Creation Lab youth internship program – provides an age-appropriate introduction to pressing 
issues. Youth learners can read real.</p>
</div>
<!--table-->
<table text align='center' border="1">
<tr>
<th scope='col'>no</th>
<th>anme</th>
<th>jander</th>
<th>age</th>
<th>places</th>
<th>salary</th>
<th>date</th>
</tr>

<tr>
<td>1</td>
<td>prathap</td>
<td>mail</td>
<td>20</td>
<td>dharmapuri</td>
<td>20000%</td>
<td>05/11/2024</td>
</tr>

<tr>
<td>2</td>
<td>Aadhi</td>
<td>mail</td>
<td>21</td>
<td>dharmapuri</td>
<td>20000%</td>
<td>05/11/2024</td>
</tr>




<tr>
<td>3</td>
<td>Aslam</td>
<td>mail</td>
<td>24</td>
<td>dharmapuri</td>
<td>20000%</td>
<td>05/11/2024</td>
</tr>



<tr>
<td>4</td>
<td>Anbu</td>
<td>mail</td>
<td>24</td>
<td>dharmapuri</td>
<td>25000%</td>
<td>05/11/2024</td>
</tr>



<tr>
<td>5</td>
<td>Arvindh</td>
<td>mail</td>
<td>22</td>
<td>dharmapuri</td>
<td>20000%</td>
<td>05/11/2024</td>
</tr>

<tr>
<td>6</td>
<td>Abi</td>
<td>femail</td>
<td>20</td>
<td>dharmapuri</td>
<td>15000%</td>
<td>05/11/2024</td>
</tr>

<tr>
<td>7</td>
<td>Ramya</td>
<td>femail</td>
<td>20</td>
<td>dharmapuri</td>
<td>15000%</td>
<td>05/11/2024</td>
</tr>
</table>
<br>


<!--table rowspan-->
<table text align='right' border="1">
<tr>
<th rowspan="2">Phone number:</th>
<td>8870016698</td>
</tr>
<tr>  
<td>8870016698</td>
</tr>

<div style='background-color:#FFF4A3;'>
<h4>Enrol in free online web development courses from Great Learning Academy, covering all skill levels from beginner to advanced. 
Gain essential expertise for success in the IT industry, learn the latest web technologies, and earn certificates upon completion.</h4>
</div>

</table><br><br>

<h1 id="myHeader">My anyone details call me mobile number</h1>

</body>
</html>;